<!-- Social Icons -->
<ul class="icons">
  {%- if site.facebook_url -%}
  <li><a target="_blank" href="{{- site.facebook_url -}}" class="icon-b fa-facebook-f"><span class="label">Facebook</span></a></li>
  {%- endif -%}
  {%- if site.twitter_url -%}
  <li><a target="_blank" href="{{- site.twitter_url -}}" class="icon-b fa-twitter"><span class="label">Twitter</span></a></li>
  {%- endif -%}
  {%- if site.github_url -%}
  <li><a target="_blank" href="{{- site.github_url -}}" class="icon-b fa-github"><span class="label">GitHub</span></a></li>
  {%- endif -%}
  {%- if site.bandcamp_url1 -%}
  <li><a target="_blank" href="{{- site.bandcamp_url1 -}}" class="icon-b fa-bandcamp"><span class="label">Bandcamp1</span></a></li>
  {%- endif -%}
  {%- if site.bandcamp_url2 -%}
  <li><a target="_blank" href="{{- site.bandcamp_url2 -}}" class="icon-b fa-bandcamp"><span class="label">Bandcamp2</span></a></li>
  {%- endif -%}
  {%- if site.tumblr_url -%}
  <li><a target="_blank" href="{{- site.tumblr_url -}}" class="icon-b fa-tumblr"><span class="label">Tumblr</span></a></li>
  {%- endif -%}
  {%- if site.email -%}
  <li><a target="_blank" href="mailto:{{- site.email -}}" class="icon fa-envelope"><span class="label">Email</span></a></li>
  {%- endif -%}
  {%- if site.feed_url -%}
  <li><a target="_blank" href="{{- site.feed_url -}}" class="icon fa-rss"><span class="label">Feed</span></a></li>
  {%- endif -%}

</ul>
