@font-face {
  font-family: 'UnifrakturCook';
  font-style: normal;
  font-weight: 700;
  src: local('UnifrakturCook'), local('UnifrakturCook-Bold'), url("../fonts/Unifraktur.ttf") format('truetype');
}


@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}


body {
  /* font-family: Arial, sans-serif; */
  font: 15px/1.8 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #10264A;
  color: #6C6E58;
}

blockquote { font: 14.5px/1.8 "OpenSansLight", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.more { font-size: 0.7em;}

img.right { 
  float: right;
  margin: 15px;
}

a {
  color: darkcyan;
  font-weight: bold;
}

hr {
  width: 100%;
}

a:visited {
  color: darkcyan;
  font-weight: normal;
}

#wrapper {
  width: 50em;
  margin: 2em auto 0;
  padding: 0;
  background: #fff;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
}

#header {
  text-align: center;
  background-image: url("/images/gruft.jpg");
  /* background: #083B8C; */
  -moz-border-radius-topleft: 1em; 
  -webkit-border-top-left-radius: 1em; 
  -moz-border-radius-topright: 1em; 
  -webkit-border-top-right-radius: 1em; 
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;

  padding: .6em;
}

#header h1 {
  font-size: 4em;
  display: inline;
  letter-spacing: -0.08em;
  color: #fff;
  font-weight: normal;
}

#header h2 {
  font-family: 'UnifrakturCook', cursive;
  display: inline;
  margin-left: 0.5em;
  font-size: 3.5em;
  font-weight: normal;
  color: #F4F7D9;
}

#menu {
  /* background: #3E423A; */
  background: #10264A;
}

#menu ul {
  list-style: none;
  margin: 0;
  text-align: center;
}

#menu ul li {
  display: inline-block;
  margin: 0;
  text-align: center;
}

#menu ul li a {
  color: white;
  font-size: 1.3em;
  padding: 0 0.5em 0 0.5em; 
  line-height: 1.3em;  
  font-weight: normal;

  margin: 0;

  /* background-color: #8bc34a; */
  background-color: #183C78;
  border: 1px solid #808FA8;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
 /* padding: 6px 12px; */
  display: inline-block;
  text-align: center;
  transition: all 150ms ease;
  text-decoration: none;
}

#menu ul:hover li:hover a:hover {
  color: #fff;
  border: 1px solid #850733;
  /* background-color: #6ea02d; */
  background-color: #10264A;
  box-shadow: 0;
  font-weight: bold;
}

#content {
  padding: 3em;
  background-color: #091933;
  color: #F4F7D9;
}

#content h2 {
  margin: 0 0 0.5em 0;
  color: #F4F7D9;
  font-size: 1.5em;
}

#content p {
  line-height: 140%;
  letter-spacing: -0.01em;
}

span.date {
  background: #484;
  display: block;
  padding: 0.4em 0.6em 0.3em;
  font-weight: bold;
  color: white;
  border-bottom: 3px solid #262;
  float: left;
}

.center-image
{
    margin: 0 auto;
    display: block;
}

div.post {
  margin-bottom: 2em;
}

.post h1 {
  margin-top: 0.2em;
}

.post { color: #333; }

.post h1 a {
  text-decoration: none;
  clear: left;
  display: block;
  color: black;
  padding: 0.3em 0;
  margin: 0 0 0.2em 0;
  border-bottom: 1px dashed #dba;
  font-weight: bold;
}

large { font-size: 36px; }

.post br { margin-bottom: 10px;}

pre {
  background: #0919933;
  border: 1px solid #E7E5DC;
  border-width: 1px 0 4px 6px;
  padding: 1em;
  overflow: auto;
  color: #F4F7D9;
  line-height: 110%;
  font-family: "Consolas","Courier New",Courier,mono;
  font-size: 14px;
  letter-spacing: 0;
}

table.post-list {
  width: 100%;
  border-collapse: collapse;
}

table.post-list a {
  color: #262;
  font-weight: bold;
}

table.post-list th {
  text-align: left;
}

table.post-list td, table.post-list th {
  padding: 0.5em 0.3em;
  border-bottom: 1px solid #dba;
}

table.post-list tr:last-child td, table.post-list tr:last-child th {
  border-bottom: 0;
}

table.widetable { width: 100%; }

div.related {
  margin-bottom: 2em;
}

#footer {
  margin-bottom: 2em;
  color: #DCE0E6;
  font-size: 0.9em;
  padding: 0.5em;
  text-align: center;
}

.home_box {
  float: left;
}

#content .home_box h2 {
  background: #417378;
  padding: 0.3em 0.5em;
  border-bottom: 3px solid #255;
  margin-bottom: 0em;
  color: white;
}

.home_box h2 a {
  color: white;
  margin: 0 0.2em;
}

#home_left {
  width: 29em;
}

#home_right {
  width: 16em;
  margin-left: 1em;
}

.clearfix { clear: both;}

#footer a {
  color: white;
  font-weight: normal;
}

.home_box .post h1 a {
  font-size: 0.7em;
}

.repo {
  background: #fff5cc;
  border: 2px solid #dda;
  padding: 0.7em 1em;
  font-size: 0.8em;
  letter-spacing: -0.03em;
  margin: 1em 1em 0 0;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  border-radius: 0.5em;
}
.repo h3 {
  margin: 0 0 0.3em 0;
}
.repo h3 a {
  font-weight: bold;
  color: black;
  letter-spacing: 0;
  font-size: 1.1em;
}

#github-projects.big .repo {
  float: left;
  width: 25.2em;
  margin: 1.2em 1em 0 0;
  display: inline-block;
  float: none;
  vertical-align: top;
}

.float-left { float: left; }
.float-right { float: right; }

a img { border: 0; }
